<div class="mgc-banner-1">
	<div class="mgc-content-wrapper-2">
		<h3>A Culture of Giving</h3>

		<p class="mgc-bold">Creating and celebrating community is in our DNA.</p>

		<p>We celebrate together during special occasions and show up during times of need. We create and share joy during the holidays. We are proud to be an integral part of the local communities we serve as an employer, as a hub for both connection and commerce, and as a responsible corporate citizen. Macy's commits to giving back.</p>
	</div>
</div>

<div class="mgc-banner-2">
	<div class="mgc-content-wrapper-3">
		<p>To see what we're doing year-round, visit</p>

		<a target="_blank" href="https://www.macys.com/social/macys-gives/?cm_sp=makegoodcents-_-staticpages-_-macysgives">
			<img src="https://assets.macys.com/dyn_img/creativepages/macys_gives_logo_1531428934733.png" alt="macy's gives">
		</a>
	</div> 
</div>
