<div class="row ldd-hero">
			<div class="show-for-large-up large-12 large-centered column">
				<img src="https://www.macys.com/dyn_img/creativepages/desktop-dress-destination-header.jpg" alt="the dress destination.  more brands, styles and sizes than anyone else."/>
			</div>
				<div class="hide-for-large-up small-12 small-centered column ce-mobile-collapse ce-mobile-full">
					<img src="https://www.macys.com/dyn_img/creativepages/mobile-dress-destination-header.jpg" alt="the dress destination.  more brands, styles and sizes than anyone else."/>
				</div>
</div>

<!-- end dress destination header banner content -->
