<div class="show-for-large-up large-12 large-centered column ">
<div class="ldd-gradient">
	<h1 class="ldd-title">come check us out!</h1>
	<p class="ldd-copy">Head to select Macy’s stores for our best dress assortment yet!</br>Enjoy an elevated in-store experience with brand new fitting rooms and assistance from our experts.</br>We’ll help you try on and find the perfect size, style &amp; fit.</p>
	<br>
 <p class="ldd-copy" style="padding-bottom:40px;">Enter your zip code, city, or click on the map below.</p>
</div>
</div>

<div class="hide-for-large-up small-12 small-centered ldd-mobile-content column">
	<h1 class="ldd-title">come check us out!</h1>
	<p class="ldd-copy">Head to select Macy's stores for our best dress assortment yet! Enjoy an elevated in-store experience with brand new fitting rooms and assistance from our experts. We'll help you try on and find the perfect size, style &amp; fit. Enter your zip code, city, or click on the map below.</p>
</div>



<!-- end dress destination main copy content -->
<div class="show-for-large-up large-12 large-centered column ">
<div class="ldd-gradient">
	<h1 class="ldd-title">come check us out!</h1>
	<p class="ldd-copy">Head to select Macy’s stores for our best dress assortment yet!</br>Enjoy an elevated in-store experience with brand new fitting rooms and assistance from our experts.</br>We’ll help you try on and find the perfect size, style &amp; fit.</p>
	<br>
 <p class="ldd-copy" style="padding-bottom:40px;">Enter your zip code, city, or click on the map below.</p>
</div>
</div>

<div class="hide-for-large-up small-12 small-centered ldd-mobile-content column">
	<h1 class="ldd-title">come check us out!</h1>
	<p class="ldd-copy">Head to select Macy's stores for our best dress assortment yet! Enjoy an elevated in-store experience with brand new fitting rooms and assistance from our experts. We'll help you try on and find the perfect size, style &amp; fit. Enter your zip code, city, or click on the map below.</p>
</div>





<!-- end dress destination main copy content -->
