<div class="mgc-hero-container">
	<div class="mgc-content-wrapper-1">
		<img src="https://assets.macys.com/dyn_img/creativepages/Big_Give_Back_1531264054386.png" alt="the big give back">

		<p class="mgc-red">Your extra change made a difference.</p>

		<p>This August, you rounded up your Macy's purchases to the nearest dollar&mdash;up to $0.99&mdash;and donated your change to a local charity in your community. Thanks for your support!</p>
	</div>
</div>
