
<!-- Search Input Form -->
<div id="ldd-search-positioning">
<div id="search-location" class="ldd-search-input mgc-search-input mgc-show">
	{{> location-entry }}
</div>

<div id="main">
<div style="">
	<!-- google map -->
	{{> google-map }}
</div>
	<!-- Stores List -->
	<div class="elements"></div>
</div>
</div>

<!-- end dress destination map.hbs content -->
