
         <div class="row">
          <div class="show-for-large-up large-12 large-centered column">
             <p class="ldd-copy">No location near you? Shop our Dress Destination online! <button class="ldd-shop"> <a onClick="javascript:cmCreateLinkClickTag(this,'localdressdestination_shopnow')" href="{{domainUrl}}/catalog/index.ognc?CategoryID=5449">SHOP NOW</a></button> </p>
          </div>

          <div class="hide-for-large-up small-12 small-centered  column">
            <p class="ldd-footer-mobile">No location near you? Shop our Dress Destination online!  </p>
            <button class="ldd-mobile-shopnow"> <a onClick="javascript:cmCreateLinkClickTag(this,'localdressdestination_shopnow')" href="{{domainUrl}}/catalog/index.ognc?CategoryID=5449">SHOP NOW</a></button>
          </div>
          </div>

<!-- end dress destination shop now content -->
